# commons-collections.jar - Commons-Collections Classpath
commons-collections.jar=${basedir}/../collections/build/commons-collections.jar
# junit.jar - JUnit 3.2+ Classpath
junit.jar=/java/junit/junit.jar